.dropdownItemContainer {
  padding-left: 10px;
}

.dropdownItemContainer:hover {
  background-color: lightgrey;
}

.dropdownItemContainerSelected {
  background-color: gray;
  font-weight: bold;
  padding-left: 10px;
}
